{{ define "main" }}
{{- if $.Site.Params.debug }}<p class="has-text-danger">DEBUG: layouts/_default/list.html</p>{{ end -}}
<section class="section" itemscope itemtype="http://schema.org/AboutPage">
	<div class="container">
		<div class="columns">
			<div class="column is-10 is-offset-1">
				<div class="site-title2">{{ .Title }}</div>
				<hr>

				<!--<br>-->
				<!--<article class="content">-->
					<!--{{ range .Paginator.Pages }}-->
					<!--{{ .Render "summary" }}-->
					<!--{{ end }}-->
				<!--</article>-->
				<!--{{ partial "pagination.html" . }}-->

				<article class="content">
				<ul>
					{{ range $.Site.Taxonomies.tags.ByCount }}
					{{ if gt .Count 0 }}
					<li>
						<h1 class="title is-3">
						<a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
						</h1>
					</li>
					{{ end }}
					{{end}}
				</ul>
				</article>

			</div>
		</div>
	</div>
</section>



{{ end }}
