<section class="section hero is-fullheight" itemscope itemtype="http://schema.org/HomePage">
	<div class="hero-head">
		{{ partial "nav.html" . }}
	</div>

	<section class="hero is-medium has-bg-img">
		<div class="hero-body">
			<div class="container">
				<h1 class="title" style="color: white;">
					プリシアディフェンス
				</h1>
				<h2 class="subtitle" style="color: white;">
					鋭意作成中！
				</h2>
			</div>
		</div>
	</section>

	<div class="hero-body">
		<div class="container">

			<div class="columns">
				<!--<div class="column is-9 is-offset-1 has-text-centered">-->
				<div class="column is-10 is-offset-1 has-text-centered">
				 <!--has-text-centered">-->

					<!--<h1 class="title">{{ partial "logo.html" . }}</h1>-->

					<h2 class="subtitle">
						{{ with .Site.Params.fullname }}{{ . }}
						{{ else }}{{ "Add params:fullname" }}{{end}}
					</h2>

					<div class="content">
						{{ .Content }}
					</div>

					<div class="site-title2">
						Projects
					</div>

					<section class="hero is-info has-bg-img">
						<a href="project/priciadefence/">

						<div class="hero-body">
							<div class="container">
								<h1 class="title is-1" style="font-weight: 900; -webkit-text-stroke: 1px #000; text-shadow: #000 2px 2px 0;">
									プリシアディフェンス(制作中)
								</h1>
								<h2 class="subtitle is-4" style="font-weight: 900; -webkit-text-stroke: 0.8px #000;  text-shadow: #000 2px 2px 0;">
									成人向けタワーディフェンス＋TPSアクションゲーム
								</h2>
							</div>
						</div>
						</a>

					</section>

					<section class="hero is-info has-bg-img-dmm">
						<a href="project/desktopmascotmaker/ja/">
							<div class="hero-body">
								<div class="container">
									<h1 class="title is-1" style="font-weight: 900; -webkit-text-stroke: 1px #000; text-shadow: #000 2px 2px 0;">
										Desktop Mascot Maker
									</h1>
									<!--<h2 class="subtitle">-->
									<h2 class="subtitle is-4 has-text-weight-bold" style="font-weight: 900; -webkit-text-stroke: 0.8px #000;  text-shadow: #000 2px 2px 0;">
										Unity でデスクトップマスコットキャラクターを作るUnityのアセット
									</h2>
								</div>
							</div>
						</a>
					</section>

					<br>

					<br>

					<div class="site-title2">Blog</div>

					<section class="articles">
						<div class="column is-10 is-offset-1">
							<!-- START ARTICLE -->
							{{ range first 5 (where .Data.Pages "Section" "blog") }}
							<div class="card article">
								<div class="card-content">
									<div class="" >
										<div class="has-text-centered">
											<p class="title is-3 article-title">
												<a href="{{.Permalink}}">{{ .Title }}</a>
											</p>
											<p class="subtitle is-6 article-subtitle">
												<!--<span class="tag is-rounded">-->
												{{ partial "page-date.html" . }}
												<!--</span>-->
											</p>
											<!--<div class="tags has-addons level-item">-->
												<!--<span class="tag is-rounded">May 10, 2018</span>-->
											<!--</div>-->
										</div>
									</div>
									<p class="content article-body">
										{{.Summary}}
									</p>
								</div>
							</div>
							<br>
							{{ end }}
							<!-- END ARTICLE -->
						</div>
					</section>

					<p>
						<a href="{{ "blog/" | absURL}}">More posts...</a>
					</p>

				</div>
			</div>
		</div>
	</div>

	<div class="hero-foot">
		{{ partial "footer.html" . }}
	</div>
</section>
